<div data-ng-include src="'partials/menubar.html'"></div>

<div class="placard msgradient">
    <div data-ng-show="configs.header.format.value=='welcome'"
         class="intro-massive container">
        <h1>KubilaTeam</h1>
        <div class="placard-text">
            <p>Build   Invent   Awesome</p>
            <h3></h3>
        </div>
    </div>
    <div data-ng-show="configs.header.format.value=='style1'"
         class="intro-normal">
        <div class="placard-text">
            <h1>KubilaTeam</h1>
            <p>People who love to build software products</p>
        </div>
    </div>
    <div data-ng-show="configs.header.format.value=='style2'"
         class="intro-normal">
        <div class="placard-text">
            <h1>KubilaTeam</h1>
            <p>Because coding funky is better than coding dull </p>
        </div>
    </div>
</div>
