<div class="contenthome">
    <div class="container">
        <div class="kubila-content">
            <div class="kbt-item">
                <img src="../images/phg-dudes.png">
            </div>
            <div class="kbt-item">
                <p>Building software is Awesome</p>
                <p>Building software for customers is Awesomer</p>
                <p>Building software your customers love is Awesomest</p>
                <div class="contact">
                    <p>contact: <a href="mailto:kubila@kubilateam.com">kubila@kubilateam.com</a></p>
                </div>
            </div>

        </div>
    </div>
</div>