<div class="contenthome">
    <div class="container">
        <div class="kubila-content">
            <div class="kbt-item">
                <img src="../images/phg-dudes.png">
            </div>
            <div class="kbt-item">
                <p>Enterprise Software is about People</p>
                <p>And making is really easy for people get work done</p>
                <p>We transform enterprise software and make it human</p>
                <p></p>
                <div class="contact">
                    <p>contact: <a href="mailto:kubila@kubilateam.com">kubila@kubilateam.com</a></p>
                </div>
            </div>

        </div>
    </div>
</div>