/* app css stylesheet */

body {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #222222;
}

.navbar{
    margin-bottom: 0;
    font-size:16px;
}

.navbar .brand{
    float:right;
    color: #6d3353;
}

/* Common color and text scheme */
.placard, footer {
    background: #020031; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
    background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
}

.placard, footer, .contenthome {
    color: #FFF;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}

.placard{
    padding: 20px 10px 30px 10px;
    margin-bottom: -30px; /* why is this needed, go figure... */
}
.placard .intro-massive {
    position: relative;
}

.placard, .contenthome {
    padding-left: 20px;
}

.placard .intro-normal {
    padding: 10px 60px;
}

.kubila-content {
    margin-top: 20px;
}

.kubila-content a{
    color: #2f96b4;
}

.kubila-content a:hover{
    color: #EEEEEE;
}

.kbt-item{
    display: inline-block;
    vertical-align: top;
    min-height: 250px;
    position: relative;
}

.kbt-item img{
    height: 250px;
    margin-right: 30px;
}

.kbt-item .contact{
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
}

.kbt-item p{
    font-size: 24px;
    padding-top: 10px;
    font-weight: 100;
    letter-spacing: 1.5px;
}


.intro-massive h1 {
    font-size: 120px;
    line-height: 1;
    letter-spacing: -2px;
}

.intro-massive p {
    font-size: 48px;
    font-weight: 200;
    line-height: 1.25;
}


.intro-massive h3 {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
}


.intro-normal h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.intro-normal p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
}

.contenthome{
    height: 350px;
    background: #5e5e5e;
}

.contentinner{
    height: 400px;
    background: #DDDDDD;
    padding-top: 50px;
    padding-left: 30px
}

.contentinner p{
    font-size: 22px;
    padding-left:40px;
}

footer{
    text-align: center;
    padding: 20px 0;
}

@media (min-width: 768px) and (max-width: 979px)
{
    .kbt-item p{
        font-size: 22px;
        letter-spacing: 1.0px;
    }
}

@media (max-width: 767px) {


    .kbt-item p{
        font-size: 18px;
        letter-spacing: 1.0px;
    }

    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    .placard {
        padding: 20px 20px;
        margin-topX:   -20px;

    }
    .intro-normal h1 {
        font-size: 60px;
    }
    .intro-normal p {
        font-size: 18px;
    }


}



