/* app css stylesheet */

body {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #222222;
}

.navbar{
    margin-bottom: 0;
    font-size:16px;
}

.navbar .brand{
    float:right;
    color: #034f8c;
}

.old-background-gradient {
    background: #020031; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #052a50ff 0%, #6d3353 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
    background: linear-gradient(45deg,  #062544 0%,#034f8c 100%); /* W3C */
}

.placard, footer {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAxNjJkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAzNGY4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: #034f8c; /* Old browsers */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#00162d), color-stop(100%,#034f8c)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(45deg, #00162d 0%, #034f8c 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(45deg, #00162d 0%, #034f8c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #00162d 0%, #034f8c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #00162d 0%, #034f8c 100%); /* IE10+ */
    background: linear-gradient(45deg, #00162d 0%, #034f8c 100%); /* W3C */
     /* IE6-8 fallback on horizontal gradient */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00162d', endColorstr='#034f8c',GradientType=1 );
}

.placard, footer, .contenthome {
    color: #FFF;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}

.placard{
    padding: 20px 10px 20px 10px;
}
.placard .intro-massive {
    position: relative;
}

.placard, .contenthome {
    padding-left: 20px;
}

.placard .intro-normal {
    padding: 10px 60px;
}

.kubila-content {
    margin-top: 30px;
}

.kubila-content a{
    color: #5baaf6;
}

.kubila-content a:hover{
    color: #EEEEEE;
}

.kbt-item{
    display: inline-block;
    vertical-align: top;
    min-height: 250px;
    position: relative;
}

.kbt-item img{
    height: 250px;
    width: 180;
    margin-right: 30px;
}

.kbt-item .contact{
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
}

.kbt-item p{
    font-size: 24px;
    padding-top: 10px;
    font-weight: 100;
    letter-spacing: 1.5px;
}


.intro-massive h1 {
    font-size: 120px;
    line-height: 1;
    letter-spacing: -2px;
}

.intro-massive p {
    font-size: 48px;
    font-weight: 200;
    line-height: 1.25;
}


.intro-massive h3 {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
}


.intro-normal h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.intro-normal p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
}

.contenthome{
    heightX: 340px;
    background: #3e3e3e;
    padding-bottom: 30px;
}

.contentinner{
    height: 400px;
    background: #DDDDDD;
    padding-top: 50px;
    padding-left: 30px
}

.contentinner p{
    font-size: 22px;
    padding-left:40px;
}

footer{
    text-align: center;
    padding: 25px 0;
}

@media (min-width: 768px) and (max-width: 979px)
{
    .kbt-item p{
        font-size: 22px;
        letter-spacing: 1.0px;
    }

    .intro-massive h1 {
        font-size: 90px;
    }

    .intro-massive p {
        font-size: 42px;
    }

}

@media (max-width: 767px) {


    .contenthomeX{
        height: 280px;
    }

    .kbt-item p{
        font-size: 18px;
        letter-spacing: 1.0px;
    }

    .kbt-item{
        min-height: 200px;
    }

    .kbt-item img{
        height: 200px;
        width: 144;
        margin-right: 20px;
    }

    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    .placard {
        padding: 10px 10px;
    }

    .intro-massive h1 {
        font-size: 72px;
    }

    .intro-massive p {
        font-size: 36px;
    }

    .intro-normal h1 {
        font-size: 60px;
    }
    .intro-normal p {
        font-size: 18px;
    }

    .contentinner p{
        font-size: 18px;
    }

    footer{
        padding: 20px 0;
    }


}



